body {
  background-color: rgb(250, 248, 248);
}

.App{ 
  text-align: center;
}

.location-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: auto;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 20px 10px -10px lightblue;
}

.location-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-inline-start: 0;
}

.location-item {
  background-color: white;
  width: 300px;
  height: auto;
  box-shadow: 0 20px 10px -10px lightblue;
  border-radius: 6px;
  margin-top: 2rem;
}

.delete-button {
  background-color: red;
  color: white;
}

.capital-input {
  display: flex;
  justify-content: center;
}

